.hide {
    display: none;
  }
  
  body{
    font-family: 'Libre Baskerville', serif;
    font-size: 15px !important;
  }
  .btn {
    background-color: orange;
    border:none;
  }
  
  .btn:hover {
      background-color: black;
  }
  
  th{
    text-align: center;
  }
  
  td{
    text-align: center;
  }
  
  .bamazonLogo{
    height: 70px;
  
  }
/* .bg-light{
  background-color: #dee2e6 !important;
} */


